<p>explorer work!</p>
<section>
@for(item of imagenesUsuario$;track item.nombreUsuario){
    <div class="container">
        <div class="usuario-explorer">
            <img
            [src]="imagenesUsuario$"
            />
            <p>{{ item.nombreUsuario }}</p>
        </div>
        <div class="usuario-explorer">
          <img
          [src]="imagenesUsuario$"
          />
          <p>{{ item.nombreUsuario }}</p>
        </div>
        <div class="usuario-explorer">
        <img
        [src]="imagenesUsuario$"
        />
        <p>{{ item.nombreUsuario }}</p>
       </div>
       <div class="usuario-explorer">
        <img
        [src]="imagenesUsuario$"
        />
        <p>{{ item.nombreUsuario }}</p>
       </div>
       <div class="usuario-explorer">
        <img
        [src]="imagenesUsuario$"
        />
        <p>{{ item.nombreUsuario }}</p>
       </div>
    </div>
}
</section> 